.page-wrapper {
    padding-top: 30px;
    padding-bottom: 40px;
}
.title {
    font-size: 40px;
    
}


.giftadd {
    .gift-logo img{
        width: 40%;
    }
}

@media (max-width: 768px) { 
    .option-wrapper button{
        font-size: 9px;
    }
}
