<div class="page-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="card mb-3">
                    <div class="card-body">
                        <h1>Donate Details</h1>
                        <div class="row">
                            <div class="col-md-6 mb-2">

                                <div class="d-grid gap-2">
                                    <button class="btn" [ngClass]="donate_type == 'single' ? 'btn-success' : 'btn-outline-success'" (click)="changeDonateType('single')">Single</button>
                                </div>
                            </div>
                            <div class="col-md-6 mb-2">
                                <div class="d-grid gap-2">
                                    <button class="btn" [ngClass]="donate_type == 'monthly' ? 'btn-success' : 'btn-outline-success'" (click)="changeDonateType('monthly')">Monthly</button>
                                </div>
                            </div>
                        </div>

                        <div class="d-flex mt-4 option-wrapper" *ngIf="donate_type == 'single'">
                            <div class="flex-grow-1 pe-1">
                                <div class="d-grid gap-2">
                                    <button class="btn" [ngClass]="amount == 500 && amount_type == 'fix' ? 'btn-primary' : 'btn-outline-primary'" (click)="changeSingleAmount(500)">£500</button>
                                </div>
                            </div>
                            <div class="flex-grow-1 px-1">
                                <div class="d-grid gap-2">
                                    <button class="btn" [ngClass]="amount == 1000 && amount_type == 'fix' ? 'btn-primary' : 'btn-outline-primary'" (click)="changeSingleAmount(1000)">£1000</button>
                                </div>
                            </div>

                            <div class="flex-grow-1 px-1">
                                <div class="d-grid gap-2">
                                    <button class="btn" [ngClass]="amount == 250 && amount_type == 'fix' ? 'btn-primary' : 'btn-outline-primary'" (click)="changeSingleAmount(250)">£250</button>
                                </div>
                            </div>

                            <div class="flex-grow-1 ps-1">
                                <div class="d-grid gap-2">
                                    <button class="btn" [ngClass]="amount == 100 && amount_type == 'fix' ? 'btn-primary' : 'btn-outline-primary'" (click)="changeSingleAmount(100)">£100</button>
                                </div>
                            </div>

                            <div class="flex-grow-1 ps-1">
                                <div class="d-grid gap-2">
                                    <button class="btn" [ngClass]="amount_type == 'other' ? 'btn-primary' : 'btn-outline-primary'" (click)="changeToOther()">Other</button>
                                </div>
                            </div>


                        </div>

                        <div class="d-flex mt-4 option-wrapper" *ngIf="donate_type == 'monthly'">
                            <div class="flex-grow-1 pe-1">
                                <div class="d-grid gap-2">
                                    <button class="btn" [ngClass]="amount == 50 && amount_type == 'fix' ? 'btn-primary' : 'btn-outline-primary'" (click)="changeMontlyAmount(50)">£50</button>
                                </div>
                            </div>
                            <div class="flex-grow-1 px-1">
                                <div class="d-grid gap-2">
                                    <button class="btn" [ngClass]="amount == 41.67 && amount_type == 'fix' ? 'btn-primary' : 'btn-outline-primary'" (click)="changeMontlyAmount(41.67)">£41.67</button>
                                </div>
                            </div>

                            <div class="flex-grow-1 px-1">
                                <div class="d-grid gap-2">
                                    <button class="btn" [ngClass]="amount == 25 && amount_type == 'fix' ? 'btn-primary' : 'btn-outline-primary'" (click)="changeMontlyAmount(25)">£25</button>
                                </div>
                            </div>

                            <div class="flex-grow-1 ps-1">
                                <div class="d-grid gap-2">
                                    <button class="btn" [ngClass]="amount == 10 && amount_type == 'fix' ? 'btn-primary' : 'btn-outline-primary'" (click)="changeMontlyAmount(10)">£10</button>
                                </div>
                            </div>

                            <div class="flex-grow-1 ps-1">
                                <div class="d-grid gap-2">
                                    <button class="btn" [ngClass]="amount_type == 'other' ? 'btn-primary' : 'btn-outline-primary'" (click)="changeToOther()">Other</button>
                                </div>
                            </div>


                        </div>

                        <div class="mt-4" *ngIf="amount_type == 'fix'">
                            <label class="form-label">Amount</label>
                            <input type="number" class="form-control" min="0" [ngModel]="amount" disabled>
                        </div>

                        <div class="mt-4" *ngIf="amount_type == 'other'">
                            <label class="form-label">Amount</label>
                            <input type="number" class="form-control" min="0" [ngModel]="amount" (ngModelChange)="handleChangeAmount($event)">
                        </div>
                    </div>
                </div>

                <!-- <div class="card mt-3 mb-3">
            <div class="card-body">
              <form class="cc-form" [formGroup]="paymentForm">
                <div class="form-group mb-3" [ngClass]="validate.displayFieldCss(paymentForm, 'cardNumber')">
                    <label class="form-label">Card Number*</label>
                    <ngx-cc defaultStyles placeholder="0000 0000 0000 0000" styleClass="default-input"
                        name="cardNumber" formControlName="cardNumber"></ngx-cc>
                    
                </div>
                <div class="cc-date-cvv-container space-even">
                    <div class="form-group mb-3" [ngClass]="validate.displayFieldCss(paymentForm, 'expDate')">
                      <label class="form-label">Expiration Date*</label>
                        <ngx-cc-date defaultStyles styleClass="default-input" placeholder="MM / YY"
                            formControlName="expDate">
                        </ngx-cc-date>
                    </div>
                    <div class="form-group mb-3" [ngClass]="validate.displayFieldCss(paymentForm, 'cardCVV')">
                      <label class="form-label">Card CVV*</label>
                        <ngx-cc-cvv defaultStyles styleClass="default-input" placeholder="CVV"
                            formControlName="cardCVV"></ngx-cc-cvv>
                    </div>
                </div>
            </form>
            </div>
          </div> -->


            </div>
            <div class="col-md-7">
                <div class="card">
                    <div class="card-body">
                        <h1>Details</h1>
                        <form [formGroup]="accountForm">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label class="form-label">Dear</label>
                                        <select class="form-control">
                        <option>Mr</option>
                        <option>Mrs</option>
                        <option>Miss</option>
                        <option>Ms</option>
                      </select>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="mb-3" [ngClass]="validate.displayFieldCss(accountForm, 'firstName')">
                                        <label class="form-label">First Name*</label>
                                        <input type="text" class="form-control" formControlName="firstName">
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="mb-3" [ngClass]="validate.displayFieldCss(accountForm, 'lastName')">
                                        <label class="form-label">Last Name*</label>
                                        <input type="text" class="form-control" formControlName="lastName">
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="mb-3" [ngClass]="validate.displayFieldCss(accountForm, 'email')">
                                        <label class="form-label">Email address*</label>
                                        <input type="email" class="form-control" formControlName="email">
                                    </div>
                                </div>


                                <div class="col-md-6">
                                    <div class="mb-3" [ngClass]="validate.displayFieldCss(accountForm, 'phone')">
                                        <label class="form-label">Mobile</label>
                                        <input type="number" class="form-control" formControlName="phone">
                                    </div>
                                </div>
                            </div>

                            <div class="mb-3 form-check">
                                <input type="checkbox" class="form-check-input" id="exampleCheck1" formControlName="donorWall">
                                <label class="form-check-label" for="exampleCheck1">I would like to list my name on the Donors Wall</label>
                            </div>

                            <div class="mb-3" *ngIf="accountForm.value.donorWall">
                                <label class="form-label">Donor Wall Name</label>
                                <input type="text" class="form-control" formControlName="donorWallName">
                            </div>

                            <div class="">
                                <p>We would like to keep in touch with you to share the latest info on our work as well as how your donations have helped deliver community and masjid services, via SMS and email (inc. via social media). We will always treat
                                    your personal information with the utmost care and will keep it private.
                                </p>
                                <div class="d-flex">
                                    <div class="mb-3 form-check">
                                        <input type="checkbox" class="form-check-input" id="exampleCheck2" formControlName="getMail">
                                        <label class="form-check-label" for="exampleCheck2">Email</label>
                                    </div>

                                    <div class="mb-2 form-check ms-5">
                                        <input type="checkbox" class="form-check-input" id="exampleCheck3" formControlName="getSMS">
                                        <label class="form-check-label" for="exampleCheck3">SMS</label>
                                    </div>
                                </div>
                                <p class="fw-bold">You can opt out any time by contacting us on 0208 597 5092 or emailing us at admin@masjidansar.com</p>
                            </div>




                            <div class="giftadd text-center">
                                <div class="gift-logo">
                                    <img src="../../../assets/image/giftadd.png">
                                </div>
                                <p class="fw-bold fs-5 px-5">If you are a UK tax payer the value of your gift can increase by 25% at no extra cost to you!</p>

                                <p class="text-success fs-4 fw-bold mt-4">£{{amount | number: '1.2-2'}} -> £{{amount * 1.25 | number: '1.2-2'}}</p>

                                <div class="mb-3 form-check text-start">
                                    <input type="checkbox" class="form-check-input" id="exampleCheck1" formControlName="giftAdd">
                                    <label class="form-check-label fw-bold" for="exampleCheck1">Please claim Gift Aid on my donation*</label>
                                </div>

                                <p class="text-start">
                                    *I understand that if I pay lesss Income Tax and/or Capital Gains Tax than the amount of Gift Aid claimed on all my donations in that tax year it is my responsibility to pay any difference. Please remember to notify Al-Ansar IEC: if you want to cancel
                                    this declaration, change your name or home address or no longer pay sufficient tax on your income and/or capital gains.
                                </p>
                            </div>


                        </form>

                        <div *ngIf="accountForm.value.giftAdd">

                            <form [formGroup]="billingForm">
                                <h1>Billing Details</h1>

                                <div class="row">

                                    <div class="col-12">
                                        <div class="mb-3" [ngClass]="validate.displayFieldCss(billingForm, 'company')">
                                            <input type="text" class="form-control" placeholder="Company Name" formControlName="company">
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <div class="mb-3" [ngClass]="validate.displayFieldCss(billingForm, 'house')">
                                            <input type="text" class="form-control" placeholder="House number and street name*" formControlName="house">
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <div class="mb-3" [ngClass]="validate.displayFieldCss(billingForm, 'apartment')">
                                            <input type="text" class="form-control" placeholder="Apartment, suite, unit, etc." formControlName="apartment">
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <div class="mb-3" [ngClass]="validate.displayFieldCss(billingForm, 'city')">
                                            <input type="text" class="form-control" placeholder="Town / City*" formControlName="city">
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <div class="mb-3" [ngClass]="validate.displayFieldCss(billingForm, 'country')">
                                            <input type="text" class="form-control" placeholder="Country*" formControlName="country">
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <div class="mb-3" [ngClass]="validate.displayFieldCss(billingForm, 'postcode')">
                                            <input type="text" class="form-control" placeholder="Postcode*" formControlName="postcode">
                                        </div>
                                    </div>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>




            </div>

        </div>

        <div class="mt-3 text-end">
            <button type="button" class="btn btn-outline-primary btn-lg" (click)="handleDonate()">Donate</button>
        </div>

    </div>
</div>