<div class="">
    <section class="banner">
        <div class="container">
            <div class="row">
                <div class="col-md-7"></div>
                <div class="col-md-5 text-end">
                    <h1 class="title">Help Us To Raise £300k To Repay Qardh Hasan and Make The Masjid Debt Free</h1>
                </div>



            </div>

            <div class="mt-5 pb-5 text-end">
                <a routerLink="/donate" class="me-4 btn-donate">
                    <img src="../../../assets/image/btn_donate.png">
                </a>

                <a class="btn btn-primary btn-lg me-4 btn-activity" href="#what-we-do">See Activities</a>
            </div>
        </div>
    </section>

    <section class="section-subtitle">
        <div class="container">
            <div class="">
                <p class="text-black">Alhamdulillah! By the grace of Allah swt the centre redevelopment is nearing completion. Having served the community for over 20 years, the site demolition started late 2019 to make way for the current building which opened to the public
                    in Ramadhan last year. The total project cost is circa £1.1 million.</p>
                <p class="text-black">A substantial part of the cost was raised through Qardh Hasan (interest free loans) during the COVID restrictions. Our debt currently stands at <b>£300,000</b>. We urgently want to repay this debt to help us dedicate more resources towards
                    our work and give us increased financial freedom.</p>


            </div>
        </div>
    </section>

    <section class="">
        <div class="container">
            <div class="border my-4">
                <div class="d-flex border-bottom bg-light">
                    <div class="flex-grow-1 border-end py-3">
                        <div>
                            <div class="d-flex flex-column align-items-center justify-content-center">
                                <span class="fs-4 mb-1">£{{summary.total_amount | number: '1.2-2'}}</span>
                                <span class="fs-5">raised</span>
                            </div>
                        </div>
                    </div>
                    <div class="flex-grow-1 border-end py-3">
                        <div class="d-flex flex-column align-items-center justify-content-center">
                            <span class="fs-4 mb-1">{{summary.count}}</span>
                            <span class="fs-5">donations</span>
                        </div>
                    </div>
                    <div class="flex-grow-1 py-3">
                        <div class="d-flex flex-column align-items-center justify-content-center">
                            <span class="fs-4 mb-1">£300K</span>
                            <span class="fs-5">goal</span>
                        </div>
                    </div>
                </div>
                <div class="py-5 px-3">
                    <div class="progress">
                        <div class="progress-bar bg-blue" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <!-- TODO: add progress bar -->
                </div>
            </div>
        </div>
    </section>


    <section class="other-options">
        <div class="container">
            <h1 class="title">Setup a Fundraising page or Donate via Paypal</h1>

            <div class="d-flex flex-column flex-md-row justify-content-between">
                <div class="mb-4">
                    <a href="https://www.paypal.com/donate/?hosted_button_id=KNJ4CF2JJD278" target="_blank">
                        <img class="option_img" src="../../../assets/image/btn_paypal.webp">
                    </a>
                </div>
                <div class="mb-4">
                    <a href="https://www.muslimgiving.org/alansar" target="_blank">
                        <img class="option_img" src="../../../assets/image/btn_muslim.webp">
                    </a>
                </div>
                <div class="mb-4">
                    <a href="https://www.justgiving.com/al-ansar-iec" target="_blank">
                        <img class="option_img" src="../../../assets/image/btn_justgiving.webp">
                    </a>
                </div>
                <div class="mb-4">
                    <a href="http://launchgood.com/MasjidAnsar" target="_blank">
                        <img class="option_img" src="../../../assets/image/btn_launchgood.webp">
                    </a>
                </div>

            </div>

            <div class="">
                <div class="bd-indigo-500 bank-info bg-blue">
                    <h1 class="mb-4">Direct Bank Transfer</h1>

                    <div class="row">
                        <div class="col-md-6 fs-5 mb-4">
                            <p>Bank: <b>NATWEST</b></p>
                            <p>Account Name: <b>Al-Ansar Islamic Education centre</b></p>
                            <p>Sort Code: <b>60-05-01</b></p>
                            <p>Account No: <b>66805368</b></p>
                            <p>IBAN: <b>GB77NWBK60050166805368</b></p>
                            <p>BIC: <b>NWBKGB2L</b></p>
                        </div>
                        <div class="col-md-6">
                            <p class="fs-5 lh-base">Cheques can be made payable to “Al-Ansar Islamic Education Centre” And posted or dropped off to Al-Ansar Islamic Education Centre 833-835 High Rd Goodmayes Essex IG3 8TD</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </section>

    <section id="what-we-do" class="what-we-do">
        <div class="container">
            <h1 class="title">Al-Ansar Activities</h1>
            <div class="subsection">
                <h1 class="fs-2 fw-bold">Youth</h1>
                <img src="../../../assets/image/youth.webp">
            </div>

            <div class="subsection">
                <h1 class="fs-2 fw-bold">Education</h1>
                <img src="../../../assets/image/education.webp">
            </div>

            <div class="subsection">
                <h1 class="fs-2 fw-bold">Community</h1>
                <img src="../../../assets/image/community.webp">
            </div>

            <div class="subsection">
                <h1 class="fs-2 fw-bold">Sisters</h1>
                <img src="../../../assets/image/sisters.webp">
            </div>

            <div class="subsection">
                <h1 class="fs-2 fw-bold">Sports</h1>
                <img src="../../../assets/image/sports.webp">
            </div>


        </div>


    </section>
</div>