<div class="container">
    <h1 class="title">Donor Wall</h1>

    <div class="img-wrapper">
        <div *ngIf="donor_wall.img1">
            <img src="{{donor_wall.img1}}">
        </div>
        <div *ngIf="donor_wall.img2">
            <img src="{{donor_wall.img2}}">
        </div>
        <div *ngIf="donor_wall.img3">
            <img src="{{donor_wall.img3}}">
        </div>
        <div *ngIf="donor_wall.img4">
            <img src="{{donor_wall.img4}}">
        </div>
        <div *ngIf="donor_wall.img5">
            <img src="{{donor_wall.img5}}">
        </div>
        <div *ngIf="donor_wall.img6">
            <img src="{{donor_wall.img6}}">
        </div>
    </div>
</div>